In [27]:
import pandas as pd
df = pd.read_csv('train.csv')
df1 = pd.read_csv('test.csv')

id - id unique yang dimiliki setiap sample
Umur - umur yang dimiliki setiap sample
Kelas Pekerja - kelompok kelas pekerjaan masing-masing sample
Berat Akhir - berisi nilai akumulasi berdasarkan populasi, ras, dan gender dengan umur 16+ suatu wilayah, sample yang diambil dari wilayah yang memiliki karakteristik demografis yang sama akan memiliki nilai berat akhir yang sama
Pendidikan - tingkat pendidikan terakhir masing-masing sample
Jmlh Tahun Pendidikan - berisi jumlah tahun masing-masing sample mengenyam pendidikan
Status Perkawinan - status perkawinan masing-masing sample
Pekerjaan - pekerjaan saat ini masing-masing sample
Jenis Kelamin - jenis kelamin masing-masing sample
Keuntungan Kapital - keuntungan yang didapat jika sample menjual semua aset miliknya
Kerugian Kapital - kerugian yang didapat jika sample menjual semua aset miliknya
Jam per Minggu - jam kerja masing-masing sample setiap minggunya
Gaji - nilai gaji masing-masing sample apakah kurang dari sama dengan 7jt atau lebih dari 7jt

In [46]:
df.head(6)

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,0,21,Wiraswasta,242912,SMA,9,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,35.0,<=7jt
1,1,49,Wiraswasta,140782,10th,6,Cerai,Ekesekutif Managerial,Perempuan,0.0,0.0,40.0,<=7jt
2,2,44,Wiraswasta,120057,D3,12,Menikah,Ekesekutif Managerial,Laki2,61404000.0,0.0,45.0,>7jt
3,3,24,Wiraswasta,194630,Sarjana,13,Belum Pernah Menikah,Spesialis,Laki2,0.0,0.0,35.0,<=7jt
4,4,33,Wiraswasta,219619,Master,14,Menikah,Spesialis,Laki2,210336000.0,0.0,40.0,>7jt
5,5,31,Wiraswasta,331065,Sarjana,13,Belum Pernah Menikah,Ekesekutif Managerial,Perempuan,0.0,19712000.0,40.0,<=7jt

In [29]:
#check value apakah ada yang imputing mising pada kolom integer/float
a = df["Umur"]
for x in a:
    x/1
a = df["Berat Akhir"]
for x in a:
    x/1
a = df["Keuntungan Kapital"]
for x in a:
    x/1
a = df["Kerugian Capital"]
for x in a:
    x/1
a = df["Jam per Minggu"]
for x in a:
    x/1

In [30]:
df["Kelas Pekerja"].value_counts()

Wiraswasta                       24948
Pekerja Bebas Bukan Perusahan     2866
Pemerintah Lokal                  2280
?                                 2063
Pemerintah Negara                 1477
Pekerja Bebas Perusahaan          1273
Pemerintah Provinsi               1066
Tanpa di Bayar                      15
Tidak Pernah Bekerja                 6
Name: Kelas Pekerja, dtype: int64

In [31]:
df["Pendidikan"].value_counts()

SMA                     11666
Pendidikan Tinggi        8005
Sarjana                  5928
Master                   1944
D4                       1500
11th                     1315
D3                       1175
10th                     1024
7th-8th                   682
Sekolah Professional      622
9th                       570
12th                      478
Doktor                    451
5th-6th                   388
1st-4th                   184
SD                         62
Name: Pendidikan, dtype: int64

In [32]:
df["Jmlh Tahun Pendidikan"].value_counts().sort_index()

1        62
2       184
3       388
4       682
5       570
6      1024
7      1315
8       478
9     11666
10     8005
11     1500
12     1175
13     5928
14     1944
15      622
16      451
Name: Jmlh Tahun Pendidikan, dtype: int64

In [33]:
df["Status Perkawinan"].value_counts()

Menikah                 16559
Belum Pernah Menikah    11851
Cerai                    4857
Berpisah                 1133
Janda                    1103
Menikah LDR               491
Name: Status Perkawinan, dtype: int64

In [34]:
df["Pekerjaan"].value_counts()

Spesialis                4587
Perbaikan Kerajinan      4507
Ekesekutif Managerial    4481
Pemuka Agama             4158
Sales                    4044
Servis Lainnya           3615
Mesin Inspeksi           2250
?                        2069
Supir                    1741
Pembersih                1540
Petani                   1076
Tech-support             1042
Penjaga                   686
Asisten Rumah Tangga      187
Tentara                    11
Name: Pekerjaan, dtype: int64

In [35]:
df["Jenis Kelamin"].value_counts()

Laki2        24094
Perempuan    11900
Name: Jenis Kelamin, dtype: int64

In [36]:
df["Gaji"].value_counts()

<=7jt    27364
>7jt      8630
Name: Gaji, dtype: int64

Perlu diperbaiki karena mengandung "?"
Kelas Pekerja, Pekerjaan

In [37]:
#train
df_id = df.drop('id', axis=1)
df_train = df_id.drop('Gaji', axis=1)
df_target = df_id["Gaji"]

#test
df_test = df1.drop('id', axis=1)

In [38]:
#ord
dictt = {
    "Tidak Pernah Bekerja":0,
    "Tanpa di Bayar":0,
    "Pemerintah Provinsi":4,
    "Pekerja Bebas Perusahaan":5,
    "Pemerintah Negara":3,
    "?":0,
    "Pemerintah Lokal":2,
    "Pekerja Bebas Bukan Perusahan":2,
    "Wiraswasta":1
}
dictt2 = {
    "SMA":1,
    "Pendidikan Tinggi":2,
    "Sarjana":3,
    "Master":5,
    "D4":2,
    "11th":0,
    "D3":2,
    "10th":0,
    "7th-8th":0,
    "Sekolah Professional":5,
    "9th":0,
    "12th":0,
    "Doktor":5,
    "5th-6th":0,
    "1st-4th":0,
    "SD":0
}
dictt3 = {
    "Menikah":4,
    "Belum Pernah Menikah":0,
    "Cerai":1,
    "Berpisah":0,
    "Janda":0,
    "Menikah LDR":1
}
dictt4 = {
    "Spesialis":4,
    "Perbaikan Kerajinan":1,
    "Ekesekutif Managerial":5,
    "Pemuka Agama":1,
    "Sales":2,
    "Servis Lainnya":0,
    "Mesin Inspeksi":1,
    "?":0,
    "Supir":1,
    "Pembersih":0,
    "Petani":1,
    "Tech-support":2,
    "Penjaga":2,
    "Asisten Rumah Tangga":0,
    "Tentara":3
}
dictt5 = {
    "Laki2":2,
    "Perempuan":1
}

df_train["Kelas Pekerja"] = df_train["Kelas Pekerja"].replace(dictt)
df_test["Kelas Pekerja"] = df_test["Kelas Pekerja"].replace(dictt)

df_train["Pendidikan"] = df_train["Pendidikan"].replace(dictt2)
df_test["Pendidikan"] = df_test["Pendidikan"].replace(dictt2)

df_train["Status Perkawinan"] = df_train["Status Perkawinan"].replace(dictt3)
df_test["Status Perkawinan"] = df_test["Status Perkawinan"].replace(dictt3)

df_train["Pekerjaan"] = df_train["Pekerjaan"].replace(dictt4)
df_test["Pekerjaan"] = df_test["Pekerjaan"].replace(dictt4)

df_train["Jenis Kelamin"] = df_train["Jenis Kelamin"].replace(dictt5)
df_test["Jenis Kelamin"] = df_test["Jenis Kelamin"].replace(dictt5)

In [39]:
keuntungan1 =[x if x>0 else 0 for x in df_train["Keuntungan Kapital"]]
kerugian1 =[-x if x>0 else 0 for x in df_train["Kerugian Capital"]]
kapitaltotal1 = [x + y for x, y in zip(keuntungan1, kerugian1)]

keuntungan2 =[x if x>0 else 0 for x in df_test["Keuntungan Kapital"]]
kerugian2 =[-x if x>0 else 0 for x in df_test["Kerugian Capital"]]
kapitaltotal2 = [x + y for x, y in zip(keuntungan2, kerugian2)]

In [40]:
df_train = df_train.drop('Keuntungan Kapital', axis=1)
df_train = df_train.drop('Kerugian Capital', axis=1)

df_test = df_test.drop('Keuntungan Kapital', axis=1)
df_test = df_test.drop('Kerugian Capital', axis=1)

df_train["Kapital"] = kapitaltotal1

df_test["Kapital"] = kapitaltotal2

In [41]:
# df_int = df_train.drop(["Kelas Pekerja","Pendidikan","Status Perkawinan","Pekerjaan","Jenis Kelamin"],axis=1)

In [42]:
#Encoding tidak ordinal
# df_nord = pd.get_dummies(df_train,columns=["Jenis Kelamin"])
# df_nordtest = pd.get_dummies(df_test,columns=["Jenis Kelamin"])

In [48]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
data = std.fit_transform(df_train)
cols=df_train.columns
df_final = pd.DataFrame(data,columns=cols)
# df_final["Kelas Pekerja"] = df["Kelas Pekerja"]
# df_final["Pendidikan"] = df["Pendidikan"]
# df_final["Status Perkawinan"] = df["Status Perkawinan"]
# df_final["Pekerjaan"] = df["Pekerjaan"]
# df_final["Jenis Kelamin"] = df["Jenis Kelamin"]
std1 = StandardScaler()
data1 = std1.fit_transform(df_test)
cols=df_test.columns
df_test = pd.DataFrame(data1,columns=cols)

In [49]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

In [50]:
df_drop = df_final.drop(["Umur","Berat Akhir"], axis=1)
df_dropt = df_test.drop(["Umur","Berat Akhir"], axis=1)

In [ ]:
model = KNeighborsClassifier()
param = {"n_neighbors":np.arange(4,10),"weights":["distance"]}
gscv = GridSearchCV(model,param,scoring="roc_auc",cv=5)
i_model1 = gscv.fit(df_drop,df_target)

In [25]:
i_model1.best_params_

{'n_neighbors': 5, 'weights': 'distance'}

In [26]:
i_model1.best_score_

0.8379446728653348

In [69]:
# i_model1 = KNeighborsClassifier(n_neighbors=6100,weights='uniform',algorithm="auto")
# i_model1.fit(df_drop,df_target)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=6100, p=2,
                     weights='uniform')

In [ ]:
prd = i_model1.predict(df_dropt)

In [34]:
a = np.where(prd==">7jt")
len(a[0])

2757

In [25]:
hasil=[]
for x in prd:
    if x == "<=7jt":
        hasil.append(0)
    elif x== ">7jt":
        hasil.append(1)
dic = {
    "id":df1["id"].values,
    "Gaji":hasil
}
a = pd.DataFrame(dic)
a.to_csv("resultt.csv",index=False)

In [41]:
df.groupby(["Umur","Gaji"]).count()

             id  Kelas Pekerja  Berat Akhir  Pendidikan  \
Umur Gaji
17   <=7jt  432            432          432         432
18   <=7jt  621            621          621         621
19   <=7jt  765            765          765         765
     >7jt     2              2            2           2
20   <=7jt  835            835          835         835
     >7jt     1              1            1           1
21   <=7jt  843            843          843         843
     >7jt     5              5            5           5
22   <=7jt  835            835          835         835
     >7jt     9              9            9           9
23   <=7jt  936            936          936         936
     >7jt    19             19           19          19
24   <=7jt  851            851          851         851
     >7jt    29             29           29          29
25   <=7jt  840            840          840         840
     >7jt    47             47           47          47
26   <=7jt  753            753          753         753
     >7jt    64             64           64          64
27   <=7jt  828            828          828         828
     >7jt    89             89           89          89
28   <=7jt  813            813          813         813
     >7jt   141            141          141         141
29   <=7jt  752            752          752         752
     >7jt   149            149          149         149
30   <=7jt  748            748          748         748
     >7jt   181            181          181         181
31   <=7jt  771            771          771         771
     >7jt   205            205          205         205
32   <=7jt  701            701          701         701
     >7jt   214            214          214         214
...         ...            ...          ...         ...
73   <=7jt   70             70           70          70
     >7jt     9              9            9           9
74   <=7jt   37             37           37          37
     >7jt    15             15           15          15
75   <=7jt   45             45           45          45
     >7jt    11             11           11          11
76   <=7jt   44             44           44          44
     >7jt     5              5            5           5
77   <=7jt   35             35           35          35
     >7jt     5              5            5           5
78   <=7jt   22             22           22          22
     >7jt     5              5            5           5
79   <=7jt   13             13           13          13
     >7jt     8              8            8           8
80   <=7jt   29             29           29          29
     >7jt     4              4            4           4
81   <=7jt   19             19           19          19
     >7jt     5              5            5           5
82   <=7jt   11             11           11          11
83   <=7jt    7              7            7           7
     >7jt     1              1            1           1
84   <=7jt   10             10           10          10
85   <=7jt    1              1            1           1
     >7jt     1              1            1           1
86   <=7jt    1              1            1           1
87   <=7jt    3              3            3           3
88   <=7jt    4              4            4           4
     >7jt     1              1            1           1
90   <=7jt   26             26           26          26
     >7jt     8              8            8           8

            Jmlh Tahun Pendidikan  Status Perkawinan  Pekerjaan  \
Umur Gaji
17   <=7jt                    432                432        432
18   <=7jt                    621                621        621
19   <=7jt                    765                765        765
     >7jt                       2                  2          2
20   <=7jt                    835                835        835
     >7jt                       1                  1          1
21   <=7jt                    843                843        843
     >7jt                       5                  5          5
22   <=7jt                    835                835        835
     >7jt                       9                  9          9
23   <=7jt                    936                936        936
     >7jt                      19                 19         19
24   <=7jt                    851                851        851
     >7jt                      29                 29         29
25   <=7jt                    840                840        840
     >7jt                      47                 47         47
26   <=7jt                    753                753        753
     >7jt                      64                 64         64
27   <=7jt                    828                828        828
     >7jt                      89                 89         89
28   <=7jt                    813                813        813
     >7jt                     141                141        141
29   <=7jt                    752                752        752
     >7jt                     149                149        149
30   <=7jt                    748                748        748
     >7jt                     181                181        181
31   <=7jt                    771                771        771
     >7jt                     205                205        205
32   <=7jt                    701                701        701
     >7jt                     214                214        214
...                           ...                ...        ...
73   <=7jt                     70                 70         70
     >7jt                       9                  9          9
74   <=7jt                     37                 37         37
     >7jt                      15                 15         15
75   <=7jt                     45                 45         45
     >7jt                      11                 11         11
76   <=7jt                     44                 44         44
     >7jt                       5                  5          5
77   <=7jt                     35                 35         35
     >7jt                       5                  5          5
78   <=7jt                     22                 22         22
     >7jt                       5                  5          5
79   <=7jt                     13                 13         13
     >7jt                       8                  8          8
80   <=7jt                     29                 29         29
     >7jt                       4                  4          4
81   <=7jt                     19                 19         19
     >7jt                       5                  5          5
82   <=7jt                     11                 11         11
83   <=7jt                      7                  7          7
     >7jt                       1                  1          1
84   <=7jt                     10                 10         10
85   <=7jt                      1                  1          1
     >7jt                       1                  1          1
86   <=7jt                      1                  1          1
87   <=7jt                      3                  3          3
88   <=7jt                      4                  4          4
     >7jt                       1                  1          1
90   <=7jt                     26                 26         26
     >7jt                       8                  8          8

            Jenis Kelamin  Keuntungan Kapital  Kerugian Capital  \
Umur Gaji
17   <=7jt            432                 432               432
18   <=7jt            621                 621               621
19   <=7jt            765                 765               765
     >7jt               2                   2                 2
20   <=7jt            835                 835               835
     >7jt               1                   1                 1
21   <=7jt            843                 843               843
     >7jt               5                   5                 5
22   <=7jt            835                 835               835
     >7jt               9                   9                 9
23   <=7jt            936                 936               936
     >7jt              19                  19                19
24   <=7jt            851                 851               851
     >7jt              29                  29                29
25   <=7jt            840                 840               840
     >7jt              47                  47                47
26   <=7jt            753                 753               753
     >7jt              64                  64                64
27   <=7jt            828                 828               828
     >7jt              89                  89                89
28   <=7jt            813                 813               813
     >7jt             141                 141               141
29   <=7jt            752                 752               752
     >7jt             149                 149               149
30   <=7jt            748                 748               748
     >7jt             181                 181               181
31   <=7jt            771                 771               771
     >7jt             205                 205               205
32   <=7jt            701                 701               701
     >7jt             214                 214               214
...                   ...                 ...               ...
73   <=7jt             70                  70                70
     >7jt               9                   9                 9
74   <=7jt             37                  37                37
     >7jt              15                  15                15
75   <=7jt             45                  45                45
     >7jt              11                  11                11
76   <=7jt             44                  44                44
     >7jt               5                   5                 5
77   <=7jt             35                  35                35
     >7jt               5                   5                 5
78   <=7jt             22                  22                22
     >7jt               5                   5                 5
79   <=7jt             13                  13                13
     >7jt               8                   8                 8
80   <=7jt             29                  29                29
     >7jt               4                   4                 4
81   <=7jt             19                  19                19
     >7jt               5                   5                 5
82   <=7jt             11                  11                11
83   <=7jt              7                   7                 7
     >7jt               1                   1                 1
84   <=7jt             10                  10                10
85   <=7jt              1                   1                 1
     >7jt               1                   1                 1
86   <=7jt              1                   1                 1
87   <=7jt              3                   3                 3
88   <=7jt              4                   4                 4
     >7jt               1                   1                 1
90   <=7jt             26                  26                26
     >7jt               8                   8                 8

            Jam per Minggu
Umur Gaji
17   <=7jt             432
18   <=7jt             621
19   <=7jt             765
     >7jt                2
20   <=7jt             835
     >7jt                1
21   <=7jt             843
     >7jt                5
22   <=7jt             835
     >7jt                9
23   <=7jt             936
     >7jt               19
24   <=7jt             851
     >7jt               29
25   <=7jt             840
     >7jt               47
26   <=7jt             753
     >7jt               64
27   <=7jt             828
     >7jt               89
28   <=7jt             813
     >7jt              141
29   <=7jt             752
     >7jt              149
30   <=7jt             748
     >7jt              181
31   <=7jt             771
     >7jt              205
32   <=7jt             701
     >7jt              214
...                    ...
73   <=7jt              70
     >7jt                9
74   <=7jt              37
     >7jt               15
75   <=7jt              45
     >7jt               11
76   <=7jt              44
     >7jt                5
77   <=7jt              35
     >7jt                5
78   <=7jt              22
     >7jt                5
79   <=7jt              13
     >7jt                8
80   <=7jt              29
     >7jt                4
81   <=7jt              19
     >7jt                5
82   <=7jt              11
83   <=7jt               7
     >7jt                1
84   <=7jt              10
85   <=7jt               1
     >7jt                1
86   <=7jt               1
87   <=7jt               3
88   <=7jt               4
     >7jt                1
90   <=7jt              26
     >7jt                8

[140 rows x 11 columns]